In [8]:
import requests
import os
import pandas as pd
from pprint import pprint
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
import time

In [9]:
csvpath=os.path.join("Resources","MovieData_PreCleanup.csv")
movie_df=pd.read_csv(csvpath)

In [10]:
movie_df

,Unnamed: 0,TMDB ID,Title,Release Date,Budget,Revenue,IMDB ID,Rating,Runtime,Genre,...,Awards,Poster,IMDB Rating,IMDB Votes,Metascore,Rating Dictionary,Type,DVD Release Date,Box Office,Production
0,0,433351,Sahara Mosaic,2009-01-01,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,423950,Circus Savage,2009-01-01,0.0,0.0,tt2189804,NaN,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN,NaN,NaN
2,2,408148,Perception,2009-01-01,30000.0,0.0,tt1714204,TV-14,42 min,"Crime, Drama, Mystery, Thriller",...,2 wins & 4 nominations.,https://m.media-amazon.com/images/M/MV5BNTM1OG...,7.5,"18,057",NaN,NaN,series,NaN,NaN,NaN
3,3,315702,Thomas & Friends: Holiday Express,2009-01-01,0.0,0.0,tt3284682,NaN,47 min,NaN,...,NaN,https://m.media-amazon.com/images/M/MV5BMTgwMD...,NaN,NaN,NaN,NaN,movie,NaN,NaN,NaN
4,4,275721,The Proper Care & Feeding of an American Messiah,2009-01-01,0.0,0.0,tt0762127,NOT RATED,95 min,Comedy,...,NaN,https://m.media-amazon.com/images/M/MV5BMTIwOD...,7.4,44,NaN,NaN,movie,14 Jun 2016,NaN,Focus Features
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48588,48588,597432,Satori,2019-01-01,0.0,0.0,tt7542356,NaN,93 min,NaN,...,NaN,https://m.media-amazon.com/images/M/MV5BOTE5Mj...,8.6,13,NaN,NaN,movie,NaN,NaN,NaN
48589,48589,595829,Cloudless Blue Egress of Summer,2019-01-01,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48590,48590,593495,The Reliant,2019-01-01,0.0,0.0,tt6105774,PG-13,140 min,Action,...,1 win.,https://m.media-amazon.com/images/M/MV5BOGZhOT...,4.0,667,NaN,NaN,movie,NaN,NaN,NaN
48591,48591,588877,"Joan Mitchell, Details",2019-01-01,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48592,48592,588281,Every Day of the Week,2019-01-01,500.0,0.0,tt9076506,NaN,12 min,"Short, Drama",...,NaN,https://m.media-amazon.com/images/M/MV5BZTQ4Mj...,NaN,NaN,NaN,NaN,movie,NaN,NaN,NaN

In [11]:
movie_df_copy=movie_df.copy()
movie_df_copy["Day of Release"]=None
movie_df_copy["Month of Release"]=None
movie_df_copy["Year of Release"]=None
for index, row in movie_df_copy.iterrows():    
    movie_df_copy.loc[index,"Day of Release"]=datetime.strptime(row["Release Date"], "%Y-%m-%d").strftime('%A')
    movie_df_copy.loc[index,"Month of Release"]=datetime.strptime(row["Release Date"], "%Y-%m-%d").strftime('%B')
    movie_df_copy.loc[index,"Year of Release"]=datetime.strptime(row["Release Date"], "%Y-%m-%d").strftime('%Y')

In [12]:
movie_df_copy.count()

Unnamed: 0           48593
TMDB ID              48593
Title                48593
Release Date         48593
Budget               48588
Revenue              48588
IMDB ID              40019
Rating               19322
Runtime              36978
Genre                39222
Director             38110
Writer               33098
Actors               36471
Plot                 36685
Language             38469
Country              39411
Awards               15281
Poster               33798
IMDB Rating          33589
IMDB Votes           33586
Metascore                0
Rating Dictionary        0
Type                 40018
DVD Release Date     14097
Box Office               0
Production           16810
Day of Release       48593
Month of Release     48593
Year of Release      48593
dtype: int64

In [33]:
movie_df_cleaned=movie_df_copy.loc[(movie_df_copy['Revenue']!=0)& (pd.notnull(movie_df_copy['Revenue']))]
movie_df_cleaned=movie_df_cleaned.copy()
movie_df_cleaned["Revenue (Millions)"]=movie_df_cleaned["Revenue"]/1000000
movie_df_cleaned=movie_df_cleaned.loc[movie_df_copy['Type']=='movie']
movie_df_cleaned["Release Date"]=pd.to_datetime(movie_df_cleaned["Release Date"])
movie_df_cleaned.drop(['Box Office', 'Type', 'Unnamed: 0','Rating Dictionary','Metascore'], axis=1, inplace=True)
movie_df_cleaned.sort_values(["Release Date"],inplace=True)
movie_df_cleaned.count()

TMDB ID               3319
Title                 3319
Release Date          3319
Budget                3319
Revenue               3319
IMDB ID               3319
Rating                3128
Runtime               3297
Genre                 3316
Director              3313
Writer                3222
Actors                3301
Plot                  3294
Language              3308
Country               3317
Awards                2799
Poster                3286
IMDB Rating           3285
IMDB Votes            3285
DVD Release Date      2848
Production            3035
Day of Release        3319
Month of Release      3319
Year of Release       3319
Revenue (Millions)    3319
dtype: int64

In [34]:
movie_df_cleaned.to_csv(os.path.join("Resources","MovieData_Clean.csv"),index=False)